[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
retry_files_enabled = false
nocows = true

[ssh_connection]
pipelining = true
