[Unit]
Description=Mount Pictures at boot

[Mount]
What=nfs.server.rsp:/volume1/Pictures
Where=/mnt/Pictures/
Options=vers=4
Type=nfs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
